
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Adaptive Learning</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <a href="{% url 'index' %}" class="home-button"><i class="fa-solid fa-house"></i>Home</a> 

    <div class="container">
        <div class="form-box">
            <h2 id="form-title">Login</h2>

            <!-- Toggle Between Login & Signup -->
            <p class="toggle-text">
                <span id="toggle-btn">
                    Don't have an account? <a href="{% url 'signup' %}"><strong>Sign Up</strong></a>
                </span>
            </p>

            <form id="auth-form" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {% include "accounts/base/alert.html" %}
            
                <div class="input-group">
                    <input type="email" id="email" name="email" placeholder="Email" required>  <!-- Added name="email" -->
                </div>
            
                <div class="input-group">
                    <input type="password" id="password" name="password" placeholder="Password" required>  <!-- Added name="password" -->
                </div>
            
                <div class="forgot-password">
                    <a href=password_reset>Forgot Password?</a>
                </div>
            
                <button type="submit" id="submit-btn">Login</button>
            
                <p class="social-text">Or continue with</p>
                <div class="social-icons">
                    <a href="#"><img class="google" src="{% static 'images/glog.webp' %}" alt="Google"></a>
                    <a href="#"><img class="fb" src="{% static 'images/fblog.png' %}" alt="Facebook"></a>
                </div>
            </form>
            
        </div>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
