<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | Adaptive Learning</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <a href="{% url 'index' %}" class="home-button">
        <i class="fa-solid fa-house"></i> Home
    </a>
    
    <div class="container">
        <div class="form-box">
            <h2>Sign Up</h2>
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
            <form id="register-form" method="POST" action="{% url 'signup' %}">
    
                {% csrf_token %}
                {% include "accounts/base/alert.html" %}

                <div class="input-group">
                    <input type="text" id="name" name="name" placeholder="Full Name" required>
                </div>
            
                <div class="input-group">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
            
                <div class="input-group">
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
            
                <div class="input-group">
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
                </div>

                <p id="password-error" class="error-message" style="color: red; display: none;">Passwords do not match!</p>
            
                {% if error %}
                    <p class="error-message">{{ error }}</p>
                {% endif %}
            
                <button type="submit" id="submit-btn">Register</button>
            </form>

            <br>
            <p>Or continue with</p>
            <div class="social-icons">
                <a href="#"><img class="google" src="{% static 'images/glog.webp' %}" alt="Google"></a>
                <a href="#"><img class="fb" src="{% static 'images/fblog.png' %}" alt="Facebook"></a>
            </div>
        </div>
    </div>

 
</body>
</html>
